<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="color:white;" href="/">Projeto Adotar</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(animals_path) %>"> <a href="<%= animals_path %>">Adotar</a> </li>
                 <% if user_signed_in? %>
                    <li class="<%= 'active' if current_page?(new_animal_path) %>"> <a href="<%= new_animal_path %>">Cadastrar Animal</a> </li>
                    <li class="<%= 'active' if current_page?(mine_animals_path) %>"> <a href="<%= mine_animals_path %>">Meus Animais</a> </li>
                <% end%>
                <li><a href="#contact">Sobre Nós</a></li>               
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <% else %>
                <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
                <% end%>
            </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>