 <!-- Styles -->
      <style>
     
			/*
			#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
			h2 { font-size: 152% }
			h3, h4 { font-size: 122%; }
			h1, h2, h3, h4 { color: #333; }
			p { font-size: 100%; line-height: 18px; padding-right: 3em; }
			
			
			strong { font-weight: bold; }
			li { line-height: 24px; solid #ccc; }
			p.enlarge { font-size: 144%; line-height: 24px; }
			p.enlarge span { color: #000 }
			.contact-info { margin-top: 7px; }
			.first h2 { font-style: italic; } */
			
			.line{border-bottom: 1px solid #C0C0C0; }
		  .menu{line-height: 24px; font-size: 160%; color: #000000; font-family: Helvetica;}
		  .lista{list-style: none;}
		  .item{line-height: 24px; text-decoration: none !important; margin-right: 10px; font-size: 130%; color: #000000; padding: 20;}
      </style>

      <div class="col-md-2">
       <%= simple_form_for :filter, :url => animals_path, html: { novalidate: true }, :method => :get do |f| %>
          <%= f.input :kind,     as: :radio_buttons, collection: [['Cachorro', 'dog'], ['Gato', 'cat'],['Outros','other']], :required => false %>
          <%= f.input :gender,     as: :radio_buttons, collection: [['Macho', 'male'], ['Fêmea', 'female']], :required => false %>
          <%= f.input :size,     as: :radio_buttons, collection: [['Pequeno', 'small'], ['Médio', 'mid'],['Grande','big']], :required => false %>
          <%= f.input :neutered,     as: :radio_buttons, collection: [['Não', '0'], ['Sim', '1']], :required => false %>
          <%= f.input :vaccinated,     as: :radio_buttons, collection: [['Não', '0'], ['Sim', '1']], :required => false %>
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block btn-lg") do %>
              <i class="fa fa-search"></i> 
              Filtrar
            <% end %>
        <% end %>
    </div>