<h1>Temos um interessado em adotar <%= @animal.name%></h1>

<p>
  <h3> Dados do interessado:</h3>
</p>
<p>
  Nome: <strong><%= @contact[:name] %></strong>
</p>

<p>
  E-mail: <strong><%= @contact[:email_from] %></strong>
</p>

<p>
  Telefone: <strong><%= @contact[:phone] %></strong>
</p>

<p>
  <strong>Messagem:</strong> <%= @contact[:message] %>
</p>